
*{
    margin: 0;
    padding: 0;
}
.red{

background: rgb(178, 63, 231);
color: white;
height: 250px;
font-size: large;
font:oblique;

}

.green{
    background: green;
color: aqua;
font-size: smaller;
font: italic;
}